.dumi-space {
  display: inline-flex;
}
.dumi-space-vertical {
  flex-direction: column;
}
.dumi-space-align-center {
  align-items: center;
}
.dumi-space-align-start {
  align-items: flex-start;
}
.dumi-space-align-end {
  align-items: flex-end;
}
.dumi-space-align-baseline {
  align-items: baseline;
}
.dumi-space-item:empty {
  display: none;
}
.dumi-space-rtl {
  direction: rtl;
}
.dumi-space .dumi-btn {
  margin-right: 0;
  margin-bottom: 0;
}
